[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dbplot"]
	path = dbplot
	url = https://github.com/edgararuiz/dbplot
[submodule "pkgsite"]
	path = pkgsite
	url = https://github.com/edgararuiz/pkgsite
[submodule "sparkxgb"]
	path = sparkxgb
	url = https://github.com/cran/sparkxgb
